*{
    margin: 0;padding: 0;
}
li{
    list-style: none;
}
.wdsc body,html{
    background: #f5f6fa;
}
.wdsc header{
    width: 100%;
    height: 73px;
    line-height: 73px;
    background: #252c4b;
}
.wdsc header .bt img{
    /*width: 100%;*/
}
.wdsc header .special{
    color:white;
    font-weight: bold;
}
.wdsc header .special .favorite{
    padding-left: 20px;
}
.wdsc header .nav ul {
    width: 100%;
    padding: 0px 15px;
}
.wdsc header .nav ul li{
    list-style: none;
    float: left;
    color: #adc9ff;
    padding: 0px 7px;
}
.wdsc header .nav ul li:hover{
    background: #2f375b;
}
.wdsc header .nav .dropdown .dropdown-toggle{
    color: #adc9ff;
}
.wdsc header .nav .dropdown ul{
    padding: 0px;
}
.wdsc header .nav .dropdown ul li{
    width: 100%;
    padding: 0px !important;
    color: #000000 !important;
}
.wdsc header .nav .dropdown ul li:hover{
    background: #eef3fd;
}
.wdsc .content{
    width: 80%;
    margin: 60px auto;
}
.wdsc .content .manual{
    box-shadow: 0px 0px 5px #cccccc;
    padding: 0px !important;
}
.wdsc .content .manual h3{
    font-size: 18px;
    color: #333333;
    background: #f8f9fd;
    padding: 0px 20px;
    height: 56px;
    line-height: 56px;
    font-weight: bold;
    margin: 0px !important;
}
.wdsc .content .manual h3 b{
    color: #3b76f4;
    padding-right: 5px
}
.wdsc .content .manual .row{
   background: white;
    margin: 0px !important;
    padding: 20px;
}
.wdsc .content .manual .row .guidance{
    border-bottom: 1px dashed #cccccc;
}
.wdsc .content .manual .row .guidance .zjsc{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}
.wdsc .content .manual .row .guidance .zjsc img{
    float: right;

}
.wdsc .content .manual .row .guidance .nonrelevant{
    margin-top: 5px;
}
.wdsc .content .manual .row .guidance .nonrelevant div{
    display: inline-block;
    padding-left: 10px;
}
.wdsc .content .manual .row .guidance .nonrelevant div span{
    color: #4e84ff;
    padding-left: 10px;
}
.wdsc .content .manual .row .guidance .nonrelevant div span img{
    padding-left: 10px;
}
.wdsc .content .manual .row .guidance .nonrelevant label{
    float: left;
}
.wdsc .content .manual .row .guidance  .time{
    color: #999999;
}
.wdsc .content .manual .row .guidance  .time span{
    float: right;
}
.wdsc .content .manual .row .guidance  .time span img{
   padding-right: 5px;
}
.wdsc .content .correlation .recommend{
    box-shadow: 0px 0px 5px #cccccc;
}
.wdsc .content .correlation .recommend h3{
    font-size: 18px;
    color: #333333;
    background: #f8f9fd;
    padding: 0px 20px;
    height: 56px;
    line-height: 56px;
    font-weight: bold;
    margin: 0px !important;
}
.wdsc .content .correlation .recommend h3 b{
    color:#3b76f4;
    padding-right: 5px;
}
.wdsc .content .correlation .recommend .recommendations{
    background: white;
    padding: 20px;
}
.wdsc .content .correlation .recommend .recommendations li{
    line-height: 25px;
}
.ellipsis{/*超出文字以...代替*/
    display: inline-block;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
    width: 80%;/*不允许出现半汉字截断*/
}





