<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsArchivesRecodeParamMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsArchivesRecodeParam" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="showContent" property="showContent" jdbcType="VARCHAR" />
    <result column="entity_id" property="entity_id" jdbcType="VARCHAR" />
    <result column="archives_id" property="archives_id" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="enable" property="enable" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="thesort" property="thesort" jdbcType="INTEGER" />
    <result column="archive_entity_id" property="archive_entity_id" jdbcType="VARCHAR" />
    <result column="subject_id" property="subject_id" jdbcType="VARCHAR" />
    <result column="search_field" property="search_field" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, showContent, entity_id, archives_id, create_time, updator, update_time, enable,
    creator, thesort, archive_entity_id, subject_id,search_field
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from zs_archives_recode_param
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zs_archives_recode_param
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsArchivesRecodeParam" >
    insert into zs_archives_recode_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="showContent != null" >
        showContent,
      </if>
      <if test="entity_id != null" >
        entity_id,
      </if>
      <if test="archives_id != null" >
        archives_id,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="thesort != null" >
        thesort,
      </if>
      <if test="archive_entity_id != null" >
        archive_entity_id,
      </if>
      <if test="subject_id != null" >
        subject_id,
      </if>
      <if test="search_field != null" >
        search_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="showContent != null" >
        #{showContent,jdbcType=VARCHAR},
      </if>
      <if test="entity_id != null" >
        #{entity_id,jdbcType=VARCHAR},
      </if>
      <if test="archives_id != null" >
        #{archives_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="thesort != null" >
        #{thesort,jdbcType=INTEGER},
      </if>
      <if test="archive_entity_id != null" >
        #{archive_entity_id,jdbcType=VARCHAR},
      </if>
      <if test="subject_id != null" >
        #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="search_field != null" >
        #{search_field,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fas.search.manage.entity.ZsArchivesRecodeParam" >
    update zs_archives_recode_param
    <set >
      <if test="showContent != null" >
        showContent = #{showContent,jdbcType=VARCHAR},
      </if>
      <if test="entity_id != null" >
        entity_id = #{entity_id,jdbcType=VARCHAR},
      </if>
      <if test="archives_id != null" >
        archives_id = #{archives_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="thesort != null" >
        thesort = #{thesort,jdbcType=INTEGER},
      </if>
      <if test="archive_entity_id != null" >
        archive_entity_id = #{archive_entity_id,jdbcType=VARCHAR},
      </if>
      <if test="subject_id != null" >
        subject_id = #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="search_field != null" >
        search_field = #{search_field,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getByArchivesEntityId" resultType="com.fas.search.manage.entity.ZsArchivesRecodeParam">
    select
        *
    from
        zs_archives_recode_param
    where
        archive_entity_id = #{archivesEntityId}
        and enable = 0
  </select>
</mapper>