<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsArchivesTableParamMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsArchivesTableParam" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="overview_field" property="overview_field" jdbcType="CHAR" />
    <result column="showname" property="showname" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="detail_field" property="detail_field" jdbcType="CHAR" />
    <result column="thesort" property="thesort" jdbcType="INTEGER" />
    <result column="subject_id" property="subject_id" jdbcType="VARCHAR" />
    <result column="entity_id" property="entity_id" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="enable" property="enable" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="entity_field_id" property="entity_field_id" jdbcType="VARCHAR" />
    <result column="archive_entity_id" property="archive_entity_id" jdbcType="VARCHAR" />
    <result column="search_pk" property="search_pk" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsArchivesTableParam" >
    insert into zs_archives_table_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="overview_field != null" >
        overview_field,
      </if>
      <if test="showname != null" >
        showname,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="detail_field != null" >
        detail_field,
      </if>
      <if test="thesort != null" >
        thesort,
      </if>
      <if test="subject_id != null" >
        subject_id,
      </if>
      <if test="entity_id != null" >
        entity_id,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="entity_field_id != null" >
        entity_field_id,
      </if>
      <if test="archive_entity_id != null" >
        archive_entity_id,
      </if>
      <if test="search_pk != null" >
        search_pk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="overview_field != null" >
        #{overview_field,jdbcType=CHAR},
      </if>
      <if test="showname != null" >
        #{showname,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="detail_field != null" >
        #{detail_field,jdbcType=CHAR},
      </if>
      <if test="thesort != null" >
        #{thesort,jdbcType=INTEGER},
      </if>
      <if test="subject_id != null" >
        #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="entity_id != null" >
        #{entity_id,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="entity_field_id != null" >
        #{entity_field_id,jdbcType=VARCHAR},
      </if>
      <if test="archive_entity_id != null" >
        #{archive_entity_id,jdbcType=VARCHAR},
      </if>
      <if test="search_pk != null" >
        #{search_pk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.fas.search.manage.entity.ZsArchivesTableParam">
     update zs_archives_table_param
        <set>
          <if test="overview_field != null" >
            overview_field = #{overview_field,jdbcType=CHAR},
          </if>
          <if test="showname != null" >
            showname =  #{showname,jdbcType=VARCHAR},
          </if>
          <if test="detail_field != null" >
            detail_field = #{detail_field,jdbcType=CHAR},
          </if>
          <if test="thesort != null" >
            thesort =  #{thesort,jdbcType=INTEGER},
          </if>
          <if test="updator != null" >
            updator = #{updator,jdbcType=VARCHAR},
          </if>
        </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" resultType="com.fas.search.manage.entity.ZsArchivesTableParam">
    select *
    from zs_archives_table_param
    where id = #{id}
  </select>

  <select id="initTableParam" resultType="java.lang.Integer">
    INSERT INTO zs_archives_table_param (
    id,
    showname,
    cname,
    ename,
    thesort,
    subject_id,
    entity_id,
    updator,
    creator,
    entity_field_id,
    archive_entity_id
    ) SELECT
        REPLACE (uuid(), '-', '') AS id,
        CASE
        WHEN cname is not NULL THEN
            cname
        WHEN ename is not NULL THEN
            ename
        END AS showname,
        cname,
        ename,
        @r:=@r+1 as thesort,
        #{subject_id} as subject_id,
        #{entity_id} as entity_id,
        #{updator} as updator ,
        #{creator} as creator ,
         id as entity_field_id,
         #{archive_entity_id} as archive_entity_id
      FROM
          zs_entity_field ,(select @r:=0) b
      WHERE
          entity_id = #{entity_id}
  </select>


  <select id="listTableField" resultType="java.util.Map">
    select *
    from zs_archives_table_param
    where archive_entity_id = #{archive_entity_id}
  </select>


  <update id="swapSortValue" >
      UPDATE zs_archives_table_param
      SET thesort = CASE
      WHEN thesort = #{sort1} THEN
          #{sort0}
      ELSE
          #{sort1}
      END
      WHERE
          thesort IN (#{sort0}, #{sort1})
          and archive_entity_id = #{archiveEntityId}
  </update>


  <select id="selectMaxSortValue" resultType="java.lang.Integer">
    select max(thesort)
    from zs_archives_table_param
    where archive_entity_id = #{archiveEntityId}
  </select>


</mapper>