<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsEntityMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="entity_name" property="entity_name" jdbcType="VARCHAR" />
    <result column="category_id" property="category_id" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    <result column="execute_sql" property="execute_sql" jdbcType="VARCHAR" />
    <result column="datasource_id" property="datasource_id" jdbcType="VARCHAR" />
    <result column="metadata_id" property="metadata_id" jdbcType="VARCHAR" />
    <result column="increment_field" property="increment_field" jdbcType="VARCHAR" />
    <result column="privilege_level" property="privilege_level" jdbcType="CHAR" />
    <result column="filter_sql" property="filter_sql" jdbcType="VARCHAR" />
    <result column="scount" property="scount" jdbcType="BIGINT" />
    <result column="execute_time" property="execute_time" jdbcType="TIMESTAMP" />
    <result column="collection_name" property="collection_name" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="query_last_value" property="query_last_value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, entity_name, category_id, remark, creator, enable, execute_sql, datasource_id, 
    metadata_id, increment_field, privilege_level, filter_sql, scount, execute_time, 
    collection_name, updator, update_time, create_time, query_last_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zs_entity
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zs_entity
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fas.search.manage.entity.ZsEntity" >
    insert into zs_entity (id, entity_name, category_id, 
      remark, creator, enable, 
      execute_sql, datasource_id, metadata_id, 
      increment_field, privilege_level, filter_sql, 
      scount, execute_time, collection_name, 
      updator, update_time, create_time, 
      query_last_value,tablename)
    values (#{id,jdbcType=VARCHAR}, #{entity_name,jdbcType=VARCHAR}, #{category_id,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{enable,jdbcType=VARCHAR}, 
      #{execute_sql,jdbcType=VARCHAR}, #{datasource_id,jdbcType=VARCHAR}, #{metadata_id,jdbcType=VARCHAR}, 
      #{increment_field,jdbcType=VARCHAR}, #{privilege_level,jdbcType=CHAR}, #{filter_sql,jdbcType=VARCHAR}, 
      #{scount,jdbcType=BIGINT}, #{execute_time,jdbcType=TIMESTAMP}, #{collection_name,jdbcType=VARCHAR}, 
      #{updator,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP}, #{create_time,jdbcType=TIMESTAMP}, 
      #{query_last_value,jdbcType=VARCHAR},#{tablename})
  </insert>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsEntity" >
    insert into zs_entity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="entity_name != null" >
        entity_name,
      </if>
      <if test="category_id != null" >
        category_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="execute_sql != null" >
        execute_sql,
      </if>
      <if test="datasource_id != null" >
        datasource_id,
      </if>
      <if test="metadata_id != null" >
        metadata_id,
      </if>
      <if test="increment_field != null" >
        increment_field,
      </if>
      <if test="privilege_level != null" >
        privilege_level,
      </if>
      <if test="filter_sql != null" >
        filter_sql,
      </if>
      <if test="scount != null" >
        scount,
      </if>
      <if test="execute_time != null" >
        execute_time,
      </if>
      <if test="collection_name != null" >
        collection_name,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="query_last_value != null" >
        query_last_value,
      </if>
      <if test="tablename != null" >
        tablename ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="entity_name != null" >
        #{entity_name,jdbcType=VARCHAR},
      </if>
      <if test="category_id != null" >
        #{category_id,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=VARCHAR},
      </if>
      <if test="execute_sql != null" >
        #{execute_sql,jdbcType=VARCHAR},
      </if>
      <if test="datasource_id != null" >
        #{datasource_id,jdbcType=VARCHAR},
      </if>
      <if test="metadata_id != null" >
        #{metadata_id,jdbcType=VARCHAR},
      </if>
      <if test="increment_field != null" >
        #{increment_field,jdbcType=VARCHAR},
      </if>
      <if test="privilege_level != null" >
        #{privilege_level,jdbcType=CHAR},
      </if>
      <if test="filter_sql != null" >
        #{filter_sql,jdbcType=VARCHAR},
      </if>
      <if test="scount != null" >
        #{scount,jdbcType=BIGINT},
      </if>
      <if test="execute_time != null" >
        #{execute_time,jdbcType=TIMESTAMP},
      </if>
      <if test="collection_name != null" >
        #{collection_name,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="query_last_value != null" >
        #{query_last_value,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fas.search.manage.entity.ZsEntity" >
    update zs_entity
    <set >
      <if test="entity_name != null" >
        entity_name = #{entity_name,jdbcType=VARCHAR},
      </if>
      <if test="category_id != null" >
        category_id = #{category_id,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="execute_sql != null" >
        execute_sql = #{execute_sql,jdbcType=VARCHAR},
      </if>
      <if test="datasource_id != null" >
        datasource_id = #{datasource_id,jdbcType=VARCHAR},
      </if>
      <if test="metadata_id != null" >
        metadata_id = #{metadata_id,jdbcType=VARCHAR},
      </if>
      <if test="increment_field != null" >
        increment_field = #{increment_field,jdbcType=VARCHAR},
      </if>
      <if test="privilege_level != null" >
        privilege_level = #{privilege_level,jdbcType=CHAR},
      </if>
      <if test="filter_sql != null" >
        filter_sql = #{filter_sql,jdbcType=VARCHAR},
      </if>
      <if test="scount != null" >
        scount = #{scount,jdbcType=BIGINT},
      </if>
      <if test="execute_time != null" >
        execute_time = #{execute_time,jdbcType=TIMESTAMP},
      </if>
      <if test="collection_name != null" >
        collection_name = #{collection_name,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="query_last_value != null" >
        query_last_value = #{query_last_value,jdbcType=VARCHAR},
      </if>
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fas.search.manage.entity.ZsEntity" >
    update zs_entity
    set entity_name = #{entity_name,jdbcType=VARCHAR},
      category_id = #{category_id,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=VARCHAR},
      execute_sql = #{execute_sql,jdbcType=VARCHAR},
      datasource_id = #{datasource_id,jdbcType=VARCHAR},
      metadata_id = #{metadata_id,jdbcType=VARCHAR},
      increment_field = #{increment_field,jdbcType=VARCHAR},
      privilege_level = #{privilege_level,jdbcType=CHAR},
      filter_sql = #{filter_sql,jdbcType=VARCHAR},
      scount = #{scount,jdbcType=BIGINT},
      execute_time = #{execute_time,jdbcType=TIMESTAMP},
      collection_name = #{collection_name,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      query_last_value = #{query_last_value,jdbcType=VARCHAR},
      tablename = #{tablename,jdbcType=VARCHAR},
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="quote" resultType="java.util.Map">

      SELECT
          subject_id,
          b.name subject_name,
          '' archives_name,
          '概览' archives_class
      FROM
          zs_overview a
      LEFT JOIN zs_subject b ON a.subject_id = b.id
      WHERE
          a.entity_id = #{id}
          and a.enable = '0'

      UNION

      select
          a.subject_id,
          c.name subject_name,
          b.name archives_name,
          '信息栏' archives_class
      FROM
          zs_infobar_entity a LEFT JOIN zs_infobar b on a.infobar_id = b.id
          LEFT JOIN zs_subject c on a.subject_id = b.id
      WHERE
          a.entity_id = #{id}
          and a.enable = '0'

      UNION

          SELECT
              b.subject_id,
              c.name subject_name,
              b.name archives_name,
           '档案' archives_class
      FROM
          zs_archives_entity a LEFT JOIN zs_archives b on a.archives_id = b.id
          LEFT JOIN zs_subject c on b.subject_id = b.id
      where
              a.entity_id = #{id}
          and a.enable = '0'
  </select>
</mapper>