<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsInfobarParamMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsInfobarParam" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="showname" property="showname" jdbcType="VARCHAR" />
    <result column="overview_field" property="overview_field" jdbcType="CHAR" />
    <result column="detail_field" property="detail_field" jdbcType="CHAR" />
    <result column="thesort" property="thesort" jdbcType="INTEGER" />
    <result column="infobar_entity_id" property="infobar_entity_id" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ename, cname, showname, overview_field, detail_field, thesort, infobar_entity_id, 
    create_time, update_time, creator, updator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zs_infobar_param
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zs_infobar_param
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsInfobarParam" >
    insert into zs_infobar_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="showname != null" >
        showname,
      </if>
      <if test="overview_field != null" >
        overview_field,
      </if>
      <if test="detail_field != null" >
        detail_field,
      </if>
      <if test="thesort != null" >
        thesort,
      </if>
      <if test="infobar_entity_id != null" >
        infobar_entity_id,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="showname != null" >
        #{showname,jdbcType=VARCHAR},
      </if>
      <if test="overview_field != null" >
        #{overview_field,jdbcType=CHAR},
      </if>
      <if test="detail_field != null" >
        #{detail_field,jdbcType=CHAR},
      </if>
      <if test="thesort != null" >
        #{thesort,jdbcType=INTEGER},
      </if>
      <if test="infobar_entity_id != null" >
        #{infobar_entity_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fas.search.manage.entity.ZsInfobarParam" >
    update zs_infobar_param
    <set >
      <if test="ename != null" >
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="showname != null" >
        showname = #{showname,jdbcType=VARCHAR},
      </if>
      <if test="overview_field != null" >
        overview_field = #{overview_field,jdbcType=CHAR},
      </if>
      <if test="detail_field != null" >
        detail_field = #{detail_field,jdbcType=CHAR},
      </if>
      <if test="thesort != null" >
        thesort = #{thesort,jdbcType=INTEGER},
      </if>
      <if test="infobar_entity_id != null" >
        infobar_entity_id = #{infobar_entity_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="initParam" >
    INSERT INTO zs_infobar_param (
      id,
      ename,
      cname,
      infobar_entity_id,
      creator,
      updator,
      entity_field_id,
      thesort
    ) SELECT
      REPLACE (uuid(), '-', '') AS id,
      ename,
      cname,
      #{infobarParam.infobar_entity_id} as infobar_entity_id ,
      #{infobarParam.creator} as creator,
      #{infobarParam.updator} as updator,
      id AS entity_field_id,
      @r:=@r+1 as thesort
    FROM
      zs_entity_field ,(select @r:=0) b
    WHERE
      entity_id = #{entityId}
  </insert>

  <select id="listByArchive" resultType="com.fas.search.manage.entity.ZsInfobarParam">
   SELECT
        c.id ,
        c.ename,
        c.cname,
        b.showname,
        b.overview_field,
        b.detail_field,
        b.thesort AS field_thesort,
        b.infobar_entity_id
    FROM
        zs_infobar_param b
    LEFT JOIN zs_entity_field c ON b.entity_field_id = c.id
    WHERE
         b.infobar_entity_id = #{archiveId}
    ORDER BY
        b.thesort
  </select>

  <update id="swapSortValue" >
      UPDATE zs_infobar_param
      SET thesort = CASE
      WHEN thesort = #{sort1} THEN
          #{sort0}
      ELSE
          #{sort1}
      END
      WHERE
          thesort IN (#{sort0}, #{sort1})
          and infobar_entity_id = #{archiveId}
  </update>

  <select id="selectMaxSortValue" resultType="java.lang.Integer">
    select max(thesort)
    from zs_infobar_param
    where infobar_entity_id = #{archiveId}
  </select>

  <select id="listInfobarEntityParam" resultType="com.fas.search.manage.entity.ZsEntityField">
    SELECT
      b.id,
      b.ename,
      b.tableename,
      b.entity_id,
      b.field_type,
      CASE
      WHEN a.showname IS NOT NULL THEN
          a.showname
      WHEN b.cname IS NOT NULL THEN
          b.cname
      ELSE
          b.ename
      END AS cname
    FROM
    (
      SELECT
        entity_field_id,
        showname,
        thesort
      FROM
        `zs_infobar_param`
      WHERE
        infobar_entity_id = #{infobarEntityId}
        <if test="detailField != null">
          AND detail_field = #{detailField}
        </if>
        <if test="overviewField != null">
          AND overview_field = #{overviewField}
        </if>
      ) a
    LEFT JOIN
        zs_entity_field b ON a.entity_field_id = b.id
    ORDER BY
        a.thesort
  </select>
</mapper>