<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsOverviewTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsOverviewTemplate" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dicename" property="dicename" jdbcType="VARCHAR" />
    <result column="diccname" property="diccname" jdbcType="VARCHAR" />
    <result column="template_type" property="template_type" jdbcType="CHAR" />
    <result column="subject_id" property="subject_id" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="thesort" property="thesort" jdbcType="INTEGER" />
    <result column="dic_id" property="dic_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dicename, diccname, template_type, subject_id, updator, update_time, creator, 
    create_time, thesort, dic_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zs_overview_template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zs_overview_template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsOverviewTemplate" >
    insert into zs_overview_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dicename != null" >
        dicename,
      </if>
      <if test="diccname != null" >
        diccname,
      </if>
      <if test="template_type != null" >
        template_type,
      </if>
      <if test="subject_id != null" >
        subject_id,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="thesort != null" >
        thesort,
      </if>
      <if test="dic_id != null" >
        dic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dicename != null" >
        #{dicename,jdbcType=VARCHAR},
      </if>
      <if test="diccname != null" >
        #{diccname,jdbcType=VARCHAR},
      </if>
      <if test="template_type != null" >
        #{template_type,jdbcType=CHAR},
      </if>
      <if test="subject_id != null" >
        #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="thesort != null" >
        #{thesort,jdbcType=INTEGER},
      </if>
      <if test="dic_id != null" >
        #{dic_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fas.search.manage.entity.ZsOverviewTemplate" >
    update zs_overview_template
    <set >
      <if test="dicename != null" >
        dicename = #{dicename,jdbcType=VARCHAR},
      </if>
      <if test="diccname != null" >
        diccname = #{diccname,jdbcType=VARCHAR},
      </if>
      <if test="template_type != null" >
        template_type = #{template_type,jdbcType=CHAR},
      </if>
      <if test="subject_id != null" >
        subject_id = #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="thesort != null" >
        thesort = #{thesort,jdbcType=INTEGER},
      </if>
      <if test="dic_id != null" >
        dic_id = #{dic_id,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="listTemplate" resultType="java.util.Map">
     SELECT
        a.id,
        c.ename AS dic_ename,
        c.cname AS dic_cname,
        a.dic_id,
		d.entity_count,
        b.field_count,
        a.template_type
    FROM
        zs_overview_template a
    LEFT JOIN (
        SELECT
            count(dic_id) AS field_count,
            dic_id
        FROM
            zs_overview_param
        WHERE
            subject_id = #{subject_id}
        AND dic_id IS NOT NULL
        GROUP BY
            dic_id
    ) b ON a.dic_id = b.dic_id
		left JOIN (
		    SELECT
                count(dic_id) AS entity_count,
                dic_id
            FROM
                zs_overview_param
            WHERE
                subject_id = #{subject_id}
            AND dic_id IS NOT NULL
            GROUP BY
                dic_id,entity_id
		) d on a.dic_id = d.dic_id
    LEFT JOIN zs_subject_dics c ON a.dic_id = c.id
    WHERE
        a.subject_id = #{subject_id}
  </select>



  <!-- 1根据主题id查询出主题配置概览展示的项有哪些
       2根据主题id和实体id和dic_id,找到该实体配置的展示字段、
       3联合查询出真正实体的字段-->
  <select id="listReturnField" resultType="com.fas.search.manage.entity.ZsEntityField">
    SELECT
        b.*
    FROM
        (
            SELECT
                *
            FROM
                zs_overview_param
            WHERE
                dic_id IN (
                    SELECT
                        dic_id
                    FROM
                        zs_overview_template
                    WHERE
                        subject_id = #{subjectId}
                    UNION
                    select
                        id
                    from
                        zs_subject_dics
                    where searchpk = 0
                )
            AND subject_id = #{subjectId}
            AND entity_id = #{entityId}
        ) a LEFT join zs_entity_field b ON a.entity_field_id = b.id
  </select>
  <!-- 1根据主题id查询出主题配置概览展示的项有哪些
       2根据主题id和实体id和dic_id,找到该实体配置的展示字段、
       3联合查询出真正实体的字段-->
  <select id="listSearchField" resultType="com.fas.search.manage.entity.ZsEntityField">
      SELECT
          b.*
      FROM
          (
              SELECT
                  *
              FROM
                  zs_overview_param
              WHERE
              search_field = 0
            AND subject_id = #{subjectId}
            AND entity_id = #{entityId}
          ) a LEFT join zs_entity_field b ON a.entity_field_id = b.id
  </select>

  <select id="listTemplateParam" resultType="java.util.HashMap">
    SELECT
        a.template_type ,
        a.thesort,
        b.cname as dic_name,
        a.dic_id,
        c.attename
    FROM
        zs_overview_template a
    LEFT JOIN zs_subject_dics b ON a.dic_id = b.id
    LEFT JOIN zs_overview_param c on c.dic_id = a.dic_id
    WHERE
        a.subject_id = #{subjectId}
        and c.entity_id = #{entityId}
    order by a.thesort,template_type
  </select>
</mapper>