<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsOverviewMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsOverview" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="entity_id" property="entity_id" jdbcType="VARCHAR" />
    <result column="subject_id" property="subject_id" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="thesort" property="thesort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, entity_id, subject_id, creator, create_time, updator, update_time, thesort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zs_overview
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zs_overview
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsOverview" >
    insert into zs_overview
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="entity_id != null" >
        entity_id,
      </if>
      <if test="subject_id != null" >
        subject_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="thesort != null" >
        thesort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="entity_id != null" >
        #{entity_id,jdbcType=VARCHAR},
      </if>
      <if test="subject_id != null" >
        #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="thesort != null" >
        #{thesort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
   <update id="updateByPrimaryKeySelective" parameterType="com.fas.search.manage.entity.ZsOverview" >
    update zs_overview
    <set >
      <if test="entity_id != null" >
        entity_id = #{entity_id,jdbcType=VARCHAR},
      </if>
      <if test="subject_id != null" >
        subject_id = #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="thesort != null" >
        thesort = #{thesort,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        thesort = #{enable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="listByConditionAndPage" resultType="java.util.Map">
        select
            *
        from
      (SELECT
      a.id,
      b.entity_name,
      b.scount,
      b.execute_time,
      a.entity_id,
      CASE
      WHEN c.config > 0 THEN
      1
      ELSE
      0
      END AS config
      FROM
      zs_overview a
      INNER JOIN zs_entity b ON a.entity_id = b.id
      LEFT JOIN (
      SELECT
      b.overview_id,
      count(b.overview_id) AS config
      FROM
      zs_overview_param b
      WHERE
      b.search_field = '0'
      OR b.dic_id IS NOT NULL
      GROUP BY
      b.overview_id
      ) c ON a.id = c.overview_id
      WHERE
      a. ENABLE = '0'
      and
      a.subject_id = #{overview.subject_id}) a
      where 1 =1
    <if test="overview.entity_name != null">
        and entity_name  like concat('%',#{overview.entity_name},'%')
    </if>
    <if test="overview.config != null">
        and config = #{overview.config}
    </if>
    <if test="page != null" >
        limit #{page.start} , #{page.length}
    </if>
  </select>

    <select id="countByCondition" resultType="java.lang.Integer">
        select count(*) from (
        SELECT
        a.id,
        b.entity_name,
        b.scount,
        b.execute_time,
        a.entity_id,
        CASE
        WHEN c.config > 0 THEN
        1
        ELSE
        0
        END AS config
        FROM
        zs_overview a
        INNER JOIN zs_entity b ON a.entity_id = b.id
        LEFT JOIN (
        SELECT
        b.overview_id,
        CASE
        WHEN count(b.overview_id) > 0 THEN
        1
        ELSE
        0
        END AS config
        FROM
        zs_overview_param b
        WHERE
        b.search_field = '0'
        OR b.dic_id IS NOT NULL
        GROUP BY
        b.overview_id
        ) c ON a.id = c.overview_id
        WHERE
        a.enable = '0' and
        a.subject_id = #{subject_id}

        ) a where 1=1
        <if test="entity_name != null">
            and entity_name  like concat('%',#{entity_name},'%')
        </if>
        <if test="config != null">
            and config = #{config}
        </if>
    </select>
</mapper>