<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsOverviewTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsOverviewTemplate" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dicename" property="dicename" jdbcType="VARCHAR" />
    <result column="diccname" property="diccname" jdbcType="VARCHAR" />
    <result column="template_type" property="template_type" jdbcType="CHAR" />
    <result column="subject_id" property="subject_id" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="thesort" property="thesort" jdbcType="INTEGER" />
    <result column="dic_id" property="dic_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dicename, diccname, template_type, subject_id, updator, update_time, creator, 
    create_time, thesort, dic_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zs_overview_template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zs_overview_template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fas.search.manage.entity.ZsOverviewTemplate" >
    insert into zs_overview_template (id, dicename, diccname, 
      template_type, subject_id, updator, 
      update_time, creator, create_time, 
      thesort, dic_id)
    values (#{id,jdbcType=VARCHAR}, #{dicename,jdbcType=VARCHAR}, #{diccname,jdbcType=VARCHAR}, 
      #{template_type,jdbcType=CHAR}, #{subject_id,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR}, 
      #{update_time,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{thesort,jdbcType=INTEGER}, #{dic_id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsOverviewTemplate" >
    insert into zs_overview_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dicename != null" >
        dicename,
      </if>
      <if test="diccname != null" >
        diccname,
      </if>
      <if test="template_type != null" >
        template_type,
      </if>
      <if test="subject_id != null" >
        subject_id,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="thesort != null" >
        thesort,
      </if>
      <if test="dic_id != null" >
        dic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dicename != null" >
        #{dicename,jdbcType=VARCHAR},
      </if>
      <if test="diccname != null" >
        #{diccname,jdbcType=VARCHAR},
      </if>
      <if test="template_type != null" >
        #{template_type,jdbcType=CHAR},
      </if>
      <if test="subject_id != null" >
        #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="thesort != null" >
        #{thesort,jdbcType=INTEGER},
      </if>
      <if test="dic_id != null" >
        #{dic_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fas.search.manage.entity.ZsOverviewTemplate" >
    update zs_overview_template
    <set >
      <if test="dicename != null" >
        dicename = #{dicename,jdbcType=VARCHAR},
      </if>
      <if test="diccname != null" >
        diccname = #{diccname,jdbcType=VARCHAR},
      </if>
      <if test="template_type != null" >
        template_type = #{template_type,jdbcType=CHAR},
      </if>
      <if test="subject_id != null" >
        subject_id = #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="thesort != null" >
        thesort = #{thesort,jdbcType=INTEGER},
      </if>
      <if test="dic_id != null" >
        dic_id = #{dic_id,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fas.search.manage.entity.ZsOverviewTemplate" >
    update zs_overview_template
    set dicename = #{dicename,jdbcType=VARCHAR},
      diccname = #{diccname,jdbcType=VARCHAR},
      template_type = #{template_type,jdbcType=CHAR},
      subject_id = #{subject_id,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      thesort = #{thesort,jdbcType=INTEGER},
      dic_id = #{dic_id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>