<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsSubjectMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsSubject" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="offline_time" property="offline_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="thesort" property="thesort" jdbcType="INTEGER" />
    <result column="online_time" property="online_time" jdbcType="TIMESTAMP" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, enable, creator, create_time, remark, offline_time, update_time, updator, 
    thesort, online_time, img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zs_subject
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zs_subject
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fas.search.manage.entity.ZsSubject" >
    insert into zs_subject (id, name, enable, 
      creator, create_time, remark, 
      offline_time, update_time, updator, 
      thesort, online_time, img
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{enable,jdbcType=CHAR}, 
      #{creator,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{offline_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}, 
      #{thesort,jdbcType=INTEGER}, #{online_time,jdbcType=TIMESTAMP}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsSubject" >
    insert into zs_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="offline_time != null" >
        offline_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="thesort != null" >
        thesort,
      </if>
      <if test="online_time != null" >
        online_time,
      </if>
      <if test="img != null" >
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="offline_time != null" >
        #{offline_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="thesort != null" >
        #{thesort,jdbcType=INTEGER},
      </if>
      <if test="online_time != null" >
        #{online_time,jdbcType=TIMESTAMP},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fas.search.manage.entity.ZsSubject" >
    update zs_subject
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="offline_time != null" >
        offline_time = #{offline_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="thesort != null" >
        thesort = #{thesort,jdbcType=INTEGER},
      </if>
      <if test="online_time != null" >
        online_time = #{online_time,jdbcType=TIMESTAMP},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fas.search.manage.entity.ZsSubject" >
    update zs_subject
    set name = #{name,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=CHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      offline_time = #{offline_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR},
      thesort = #{thesort,jdbcType=INTEGER},
      online_time = #{online_time,jdbcType=TIMESTAMP},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>