<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fas.search.manage.mapper.ZsUserRecordMapper" >
  <resultMap id="BaseResultMap" type="com.fas.search.manage.entity.ZsUserRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="subject_id" property="subject_id" jdbcType="VARCHAR" />
    <result column="searchkey" property="searchkey" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="search_time" property="search_time" jdbcType="TIMESTAMP" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="dataid" property="dataid" jdbcType="VARCHAR" />
    <result column="entity_id" property="entity_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject_id, searchkey, type, search_time, userid, username, dataid, entity_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zs_user_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insertSelective" parameterType="com.fas.search.manage.entity.ZsUserRecord" >
    insert into zs_user_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subject_id != null" >
        subject_id,
      </if>
      <if test="searchkey != null" >
        searchkey,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="search_time != null" >
        search_time,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="dataid != null" >
          dataid,
      </if>
      <if test="entity_id != null" >
          entity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="subject_id != null" >
        #{subject_id,jdbcType=VARCHAR},
      </if>
      <if test="searchkey != null" >
        #{searchkey,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="search_time != null" >
        #{search_time,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="dataid != null" >
        #{dataid,jdbcType=VARCHAR},
      </if>
      <if test="entity_id != null" >
        #{entity_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <select id="getUserCensus" resultType="java.util.Map" >
    SELECT
        CASE
    WHEN TO_DAYS(search_time) = TO_DAYS(now())
    AND tmp.type = '2' THEN
        count(userid)
    END AS record,
     CASE
    WHEN TO_DAYS(search_time) = TO_DAYS(now())
    AND tmp.type = '1' THEN
        count(userid)
    END AS search,
     uv.uv,
     allNum.allNum
    FROM
        zs_user_record tmp,
        (

            select count(*) as uv
            from (
            SELECT
                *
            FROM
                zs_user_record
            WHERE
                TO_DAYS(search_time) = TO_DAYS(now())
            GROUP BY
                userid) testCount

        ) uv,
        (
            SELECT
                count(*) AS allNum
            FROM
                zs_user_record
        ) allNum
  </select>

    <select id="listUse" resultType="java.util.Map" >
        SELECT
            username,
            searchKey,
            CASE
        WHEN type = '1' THEN
            '概览'
        WHEN type = '2' THEN
            '档案'
        WHEN type = '3' THEN
            '信息栏'
        END AS type,
         b. NAME AS subject_name,
         search_time
        FROM
            zs_user_record a
        LEFT JOIN zs_subject b ON a.subject_id = b.id
        where 1=1
            <if test="record.username != null">
                and username = #{record.username}
            </if>
            <if test="record.userid != null">
                and userid = #{record.userid}
            </if>
        ORDER BY
            search_time DESC
        <if test="page != null">
            limit #{page.start} , #{page.length}
        </if>
    </select>

    <select id="countUse" resultType="java.lang.Integer">
        select count(*)
        from zs_user_record
        <where>
            <if test="userName != null">
                username = #{userName}
            </if>
        </where>
    </select>

    <select id="listUser" resultType="java.util.Map">
        SELECT
            CASE
        WHEN type = '1' THEN
            count(type)
        END AS search_count,
         CASE
        WHEN type = '2' THEN
            count(*)
        END AS record_count,
         userid,
         MAX(search_time) AS new_time,
         max(username) AS username
        FROM
            zs_user_record
        <where>
            <if test="userName != null">
                username = #{userName}
            </if>
        </where>
        GROUP BY
            userid
        <if test="page != null">
            limit #{page.start} , #{page.length}
        </if>
    </select>

    <select id="countUser" resultType="java.lang.Integer" >
        SELECT
            count(DISTINCT userid)
        FROM
            zs_user_record
        <where>
            <if test="userName != null">
                username = #{userName}
            </if>
        </where>
    </select>

    <select id="latelyRecord" resultType="java.lang.String">
        SELECT
            searchkey
        FROM
            `zs_user_record`
        where userid= #{userid}
        GROUP BY
            searchkey
        ORDER BY search_time desc
        LIMIT 0,5
    </select>

    <select id="countSelected" resultType="java.lang.Long">
        select count(*)
        from zs_user_record
        <where>
            <trim  suffixOverrides="AND" >
                <if test="subject_id != null" >
                    subject_id = #{subject_id,jdbcType=VARCHAR} AND
                </if>
                <if test="searchkey != null" >
                    searchkey = #{searchkey,jdbcType=VARCHAR} AND
                </if>
                <if test="type != null" >
                    type = #{type,jdbcType=CHAR} AND
                </if>
                <if test="userid != null" >
                    userid = #{userid,jdbcType=VARCHAR} AND
                </if>
                <if test="username != null" >
                    username = #{username,jdbcType=VARCHAR} AND
                </if>
                <if test="dataid != null" >
                    dataid = #{dataid,jdbcType=VARCHAR} AND
                </if>
                <if test="entity_id != null" >
                    entity_id = #{entity_id,jdbcType=VARCHAR}
                </if>
            </trim>
        </where>
    </select>
</mapper>